# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
dist
tmp
/out-tsc
play
.nx
*_tmp*
/.log

# dependencies
node_modules

# env
.env
.env.*
!.env.example
.npmrc

#npmrc
.npmrc

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db

.nx/cache

/config/
# Docker Compose
docker-compose-*.yaml

# Migration File
*_temp


docker-compose-files/
rumsan-finance-app-*.json

# Next.js
.next
out

# Hardhat files
/libs/contracts/build
# TypeChain files
/libs/contracts/typechain
/libs/contracts/typechain-types

# solidity-coverage files
/libs/contracts/coverage
/libs/contracts/coverage.json

# Hardhat Ignition default folder for deployments against a local node
/libs/contracts/ignition/deployments/*
/libs/contracts/scripts/standard-json/*

.npmrc